*{
	margin:0;
	padding: 0;
}
#zhuce{
	width: 450px;
	height:30px;
	line-height:30px;
	margin:auto;
	margin-top: 10% ;
	 background-color: #393D49;
	 border: 1px solid #393D49;color: white;
	 font-weight: bold;
	 font-size: larger;
}
