
* {
    margin: 0;
    padding: 0;
}

#head {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: right;
    margin: 0px auto 0px auto;
}

.find, .btn {
    height: 30px;
    margin-top: 5px;
}

.find {
    width: 30%;
}

.btn {
    width: 6%;
    margin-right: 3%;
}

#zhongjian {
    width: 81%;
    height: 270px;
    margin-top: 1%;
    margin-left: 10%;
}

#classfy {
    width: 20%;
    float: left;
}

.div_banner {
    width: 70%;
    margin-left: 8%;
    height: 265px;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    float: right;
}

.div_banner img{
    width: 600px;
    height: 280px;
}

.btn_shift {
    width: 40px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    visibility: hidden;
    background-color: #111;
    opacity: 0.7;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    z-index: 8999;
}

.btn_shift:hover {
    background-color: #efefef;
    opacity: 0.7;
}

.img_banner {
    width: 100%;
    height: 100%;
    max-height: 265px;
    flex: 1;
    margin-left: -40px;
    margin-right: -40px;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 2%;
}

#main {
    height: 310px;
}

#main_left {
    width: 60%;
    margin-left: 10%;
    margin-right: 1%;
    float: left;
    /*border: 1px solid #8B8989;*/
}

#text {
    background-color: #CDC9C9;
    border: 1px solid #8B8989;
}

.book {
    width: 33%;
    height: 140px;
}

#book_imgurl {
    width: 40%;
    height: 130px;
    float: left;
    overflow: hidden;
}

#img_msg {
    width: 55%;
    float: left;
    margin-left: 4px;
    height: 140px

}

#book_title {
    height: 20px;
    font-weight: bold;
}

#book_desc {
    height: 80px;
    overflow: hidden;
}

#book_price {
    color: red;
    font-weight: bold;
}


#main_right {
    width: 20%;
    height: auto;
    /*background: #eee;*/
    float: left;
    /*border: 1px solid #8B8989;*/
}

#right_msg {
    /*height: 280px;*/
    overflow: auto;
}

.top {
    margin-bottom: 5%;
    /*border: 1px solid #8B8989;*/
    width: 300px;
    height: 120px;
}

#foot {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
}

#sidebar-menu {
    /*目前要求宽度是238px,高度是332px，左边框+width正好238，以后需要可以修改*/
    border-left: 1px solid #F93;
    border-bottom: 1px solid #F93;
    width: 237px;
    /*height : 332px;*/
    margin: 0;
    padding: 0;
    /*background: #009688;*/
}

#sidebar-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #FDEADB;
    position: relative;
}

#sidebar-menu > ul > li.selected {
    background: #FFF;
    border-top: 1px solid #F93;
    border-bottom: 1px solid #F93;
}

#sidebar-menu > ul > li.first {
    border-top: 1px solid #F93;
}

#sidebar-menu > ul > li.last {
    border-bottom: 1px solid #F93;
}

#sidebar-menu .menu-item {
    background: #FFFFFF no-repeat left center;
    height: 32px; /**控制菜单中每行的宽度，下面还有两处需要修改**/
    border-right: 1px solid #F93;
    z-index: 10000;
    position: relative;
}


#sidebar-menu > ul > li.selected .menu-item {
    border-right: 1px solid #FFF;
    background: #FFF no-repeat left center;
}

#sidebar-menu .menu-item span {
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding-left: 35px;
    padding-top: 2px;
    display: inline-block;
}

#sidebar-menu .menu-panel {
    background: #ffffff;
    padding: 10px 20px;
    display: none;
    border: 1px solid #F93;
    width: 560px;
    position: absolute;
    left: 236px;
    top: -1px;
    z-index: 5000;
    min-height: 50px;
    box-shadow: 1px 1px 4px #888888;
}

#sidebar-menu div.menu-panel.selected {
    display: block;
}

/*Panel 里面的链接列表*/
#sidebar-menu div.menu-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu div.menu-panel ul li {
    list-style: none;
    padding: 5px 0px;
    margin: 0;
}

#sidebar-menu div.menu-panel > ul > li > h2 {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    font-size: 13px;
    color: red;
    float: left;
    width: 60px;
}

#sidebar-menu div.menu-panel > ul > li > div.link-list {
    float: left;
    padding-left: 10px;
    width: 450px;
}

#sidebar-menu div.menu-panel div.link-wrapper {
    display: inline-block;
    padding: 3px 0px;
}

#sidebar-menu div.menu-panel div.link-wrapper span {
    font-size: 13px;
    color: #888;
    padding-right: 4px;
}

#sidebar-menu div.menu-panel div.link-list a {
    font-size: 13px;
    color: #888;
    text-decoration: none;
}

#sidebar-menu div.menu-panel div.link-list a:hover {
    text-decoration: underline;
}

#sidebar-menu div.clear {
    clear: both;
    height: 0;
    line-height: 0;
}
.cmdlist-container img{
    width: 175px;
    height: 195px;
}
.cmdlist-text {
    padding: 20px;
}

.cmdlist-text .info {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 10px;
}

.cmdlist-text img{
    width: 100%;
    height: 100%;
}

.cmdlist-text .price {
    color: #D0104C;
    font-size: 14px;
}

#right_msg img{
    width: 100px;
    float: left;
}
#right_msg .text{

}
