*{
    margin:0;
    padding: 0;
}
#login_right{
    float: right;
    width: 40%;
    height:92%;
    position: absolute;
    float: right;
    margin-left:60%;
    bottom:0;
    text-align: center;
    background-color: rgba(0,191,255,0.6);
}
#login_right h1{
    margin-top: 10%;
    margin-bottom: 20%;
    color: white;
}
#login_right h2{
    color: white;
    display: inline;
    margin-right: 10%;
}
.user,.pass,.yanzheng{
    height: 40px;
    width: 300px;
    margin-bottom: 7%;
}
.yanzheng{
    width: 180px;
}
#btn_login{
    background-color:limegreen;
    border: none ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 1.4px 1.4px 5.6px #ccc;
}
#login_btn{
    width: 100%;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 7%;
}
.forget{
    float: left;
    margin-left: 5%;
}
.getnew{
    float: right;
    margin-right: 5%;
}

a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}