<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <link href="../style/regist.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

<div class="main">
    <form action="/api/user/registration" method="get">
        <div th:utext="${csrf}"></div>
        <h1>欢迎注册</h1>
        <div class="line"><label>用 户 名:</label><input type="text" name="username" /></div>
        <div class="line"><label>邮&emsp;&nbsp;箱：</label><input type="text" name="email" /></div>
        <div class="line"><label class="password">密&emsp;&nbsp;码:</label><input type="password" name="password" />
            <div id="MyDiv">

            </div></div>
        <div class="line"><label>确认密码:</label><input type="password" name="surepassword" /></div>
        <div class="line">
            <input  class="register" type="button" id="b01" name="submit" value="submit" />
        </div>
    </form>
</div>


<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/layui/layer/layer.js"></script>
<script>
    $(document).ready(function(){
        $("#b01").click(function(){
            str = $("#MyDiv");
            //str[0].innerText;
            htmlobj = $.ajax({
                url:"/api/user/registration",
                contentType: "application/json",
                data:{
                    "username":$("[name=username]")[0].value,
                    "_token": $("[name=_token]")[0].value,
                    "password":$("[name=password]")[0].value,
                    "surepassword" : $("[name=surepassword]")[0].value,
                    "email" : $("[name=email]")[0].value,
                },
                    success:function(data,status){
                        // 202
                        var a = data;
                        console.log("code:" + a.code);
                        console.log("msg:" + a.msg);
                        if( a.code != "1" ){
                            layer.msg(a.msg);
                            //console.log(str[0]);
                        }else{
                            layer.msg(a.msg);
                            window.setTimeout("window.location='/login'",3000);
                            //str[0].innerText += a.msg + "<br>";
                            //alert(a.msg);
                        }

                },
                async:false,
            });
        });
    });

</script>
</body>
</html>